@import "variables";
article{
    .paragraph{
        margin-bottom: 4rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;  

        img{
            display: block;
            margin: 0 auto;
        }

        @media (min-width: $break-point-small) {
            margin-bottom: 2rem;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }
    }
}



