
.members{
    .cards{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2.5rem;
        .card{
            display: grid;
            grid-template-columns: 1fr 4fr;
            word-break: break-all;
            .profile{
                margin-left: 1.5rem;
            }
            img{
                display: block;
                margin: auto 0;
                max-width: 5rem;
            }
        }

    }
}

@media (min-width: $break-point-small) {
    .members{
        .cards{
            grid-template-columns: repeat(2, 1fr);
            .card{
                img{
                    max-width: 6rem;

                }
            }
        }
    }
    

}