@import "variables";

.secondary-hero{
    background-image: url(../img/hero-background2.png);
    background-size: 30vw auto;
    background-repeat: no-repeat;
    background-position: 100% 100%;

    .title{
        margin-bottom: 2rem;
    }

    .concept{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-flow: column;

        .catch-copy{
            min-width: 15rem;
            color: $accent-color;
            display: flex;
            gap: 2rem;
            .first{
                margin: auto 0;
                font-weight: bold;
                font-size: 3.5rem;
            }
            .second{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 0.25rem;
    
                font-weight:900;
                font-size: 1.5rem;
            }

            @media (min-width: 600px) {
                grid-template-columns: 3fr 4fr 5fr;
                grid-template-rows: 1fr;
                grid-auto-flow: row;
                .catch-copy{
                    margin-bottom: 0em;
                }
            }
        }
    

    }


    @media (min-width: 600px) {
        background-size: 16rem auto;
    }
    @media (min-width: 900px) {
        background-size: 22rem auto;
    }

}


