@import "variables";

.secondary-title{
    color: $main-color;
    background-color: $secondary-color;
    width: 100vw;
    margin-left: calc(50% - 50vw);

    .title{
        max-width: 1032px;
        margin: 0 auto;
        padding: 2rem;
        @media (min-width: 1032px) {
            padding: 2rem 0;
        }
    }
}