
@import "variables";

.tools{
    .cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto, auto);
        justify-content: space-around;

        //to draw lines only in grid, use grid gap as boarder
        gap: 1px; 
        background-color:rgba($color: $secondary-color, $alpha: 0.3);

        .card{
            background-color: $main-color;
            img{
                display: block; //->will be treated as block == margin auto is valid
                margin: 0 auto;
                max-width: 50%;
            }
        }
    }

    // when you write responsive, it must be smaller to larger
    @media (min-width: $break-point-small) {
        .cards{ grid-template-columns: repeat(2, 1fr); }
    }
    
    @media (min-width: $break-point-large) {
        .cards{ grid-template-columns: repeat(3, 1fr); }
    }

    // @media (min-width: 1200px) {
    //     .cards{ grid-template-columns: repeat(4, 1fr); }
    // }


}