
.tools{
    h2{
        margin-bottom: 0.25rem;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include lg{
            grid-template-columns: repeat(3, 1fr);
        }

        grid-template-rows: repeat(auto, auto);
        justify-content: space-around;
        column-gap: 5rem; 
        // row-gap: -4rem;

        .card{
            display: grid;
            grid-template-columns: 1fr 6fr;
            .description{
                margin: auto 0;
            }
            img{
                display: block; //->will be treated as block == margin auto is valid
                max-width: 90%;
            }
        }
    }

}



// .tools{
//     .cards{
//         display: grid;
//         grid-template-columns: repeat(2, 1fr);
//         @include lg{
//             grid-template-columns: repeat(3, 1fr);
//         }

//         grid-template-rows: repeat(auto, auto);
//         justify-content: space-around;

//         //to draw lines only in grid, use grid gap as boarder
//         gap: 1px; 
//         background-color:rgba($color: $secondary-color, $alpha: 0.3);

//         .card{
//             display: grid;
//             grid-template-columns: 1fr 2fr;
//             background-color: $main-color;
//             .description{
//                 margin: auto 0 auto 2rem;
//             }
//             img{
//                 display: block; //->will be treated as block == margin auto is valid
//                 margin: 0 auto;
//             }
//         }
//     }

// }