.forEach-item{
    max-width: 858px;
    margin: 0 auto;
    .scene{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4rem;
        
    }
}