header{
    display: flex;
    justify-content: space-between;
    img{
        max-width: 11rem;//176px
    }

    ul {
        display: flex;
        li {
            padding-left: 4rem;
        }
    }
    margin-top: 2rem;
    margin-bottom: 6rem;
}
