


    // when you write responsive, it must be smaller to larger
@mixin md($min: $breakpoint-medium) {
    @media(min-width: #{$min}) {
        @content;
    }
}
@mixin lg($min:$breakpoint-large) {
    @media(min-width: #{$min}) {
        @content;
    }
}

@mixin underline {
    span{
        
        position: relative;
        &:before{
            content: ' ';
            position: absolute;
            width: 100%;
            background: $accent-color;
            height: 0.5rem;
            bottom: -0.25rem;
            @content;
            z-index: -1;
        } 
    }

}


@function fs($size) {
    @return calc((#{$size} / 2.34375) * 1px + (#{$size} - (#{$size} / 2.34375))*(100vw - 320px)/(750 - 320));
  }