@import "variables";
// $main-color: #ffffff;

// $accent-color: #5bbe0d;

.process{
    .secondary-headline{
        color: $main-color;
        background-color: $secondary-color;
        width: 100vw;
        margin-left: calc(50% - 50vw);

        .title{
            max-width: 1034px;
            margin: 0 auto;
            padding: 2rem 0;
        }
    }
    
    .tools{
        .tool-cards{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(10, auto);
            gap: 0;
            justify-content: space-around;
            // .card{
            //     width: 300px;
            // }
        }
    }
}