$main-color: #ffffff;
$secondary-color: #3b3f38;
$accent-color: #5bbe0d;

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    color: $secondary-color;
    max-width: 1034px;
    margin: 0 auto;
}


img {
    max-width: 100%;
}

h3 {
    font-weight: 900;
    font-size: 1.5em;

}