.mv {
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    height: 50vw;
    background-image: url(../img/mv-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top -50px center;
    margin-bottom: 80px;

    .h1 {
        padding-top: 20px;
        font-size: 10vw;
        // margin-left: -80px;
        color: white;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

}