
#itemLabel{
  -fx-font-family: 'Poppins', sans-serif;
  -fx-font-size: 32px;
}

#dollarLabel, #lbLabel{
  -fx-font-family: 'Poppins', sans-serif;
  -fx-font-size: 22px;
}


.list-cell{
  -fx-font-weight: 300;
  -fx-font-family: 'Poppins', sans-serif;
  -fx-font-size: 40px;

}