#superView{
  -fx-font-family: 'Rubik', sans-serif;
}

#mainView{
  -fx-background-color: #FFFFFF;
  -fx-focus-color: #2ECC71;
  -fx-faint-focus-color: transparent;
}


.resultValue{
  -fx-font-family: 'Rubik', sans-serif;
  -fx-font-size: 32px;
  -fx-text-fill: #2ECC71;
  -fx-font-weight: 700;
}

.resultDescription{
  -fx-font-family: 'Rubik', sans-serif;
  -fx-font-size: 16px;
  -fx-font-weight: 700;
  -fx-text-fill: #1C2833;

}

.resultUnit{
  -fx-font-family: 'Rubik', sans-serif;
  -fx-font-size: 16px;
  -fx-font-weight: 600;
  -fx-text-fill: #808B96 ;
}

#sizeButton{
  -fx-padding: 0 0 0 -4;
}

#itemLabel{
  -fx-font-weight: 700;
  -fx-font-family: 'Rubik', sans-serif;
  -fx-font-size: 44px;
  -fx-text-fill: #1C2833;
  -fx-letter-spacing: 2px;
;
}

.inputLabel{
  -fx-font-family: 'Rubik', sans-serif;
  -fx-font-size: 16px;
  -fx-font-weight: 600;
  -fx-text-fill: #808B96;
}

#listView{
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}



.list-cell{
  -fx-font-weight: 600;
  -fx-font-family: 'Rubik', sans-serif;
  -fx-font-size: 16px;
  -fx-text-fill: #1C2833;
  -fx-padding: 0 0 0 40;
  -fx-border-width: 0 0 1 0;
  -fx-border-color: #F2F3F4;
  -fx-background-color: white;

}

.list-cell: selected{
  -fx-background-color: #FBFCFC ;
  -fx-border-width: 0 0 0 6;
  -fx-border-color: #2ECC71;
}

.errorMessage{
  -fx-text-fill: red;
}