body {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: #3b3f38;
  max-width: 1034px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
a:link {
  color: #3b3f38;
}
a:visited {
  color: #3b3f38;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: 900;
  font-size: 4.5em;
  line-height: 117.5%;
}

h2 {
  font-weight: 900;
  font-size: 2.25em;
}

h3 {
  font-weight: 900;
  font-size: 1.5em;
}

p {
  font-weight: 300;
  font-size: 1.126rem;
  line-height: 184%;
  letter-spacing: 2%;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 6rem;
}
header ul {
  display: flex;
}
header ul li {
  padding-left: 4rem;
}