body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: #3b3f38;
  max-width: 1034px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

h3 {
  font-weight: 900;
  font-size: 1.5em;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 6rem;
}
header ul {
  display: flex;
}
header ul li {
  padding-left: 4rem;
}

.mv {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  height: 50vw;
  background-image: url(../img/mv-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top -50px center;
  margin-bottom: 80px;
}
.mv .h1 {
  padding-top: 20px;
  font-size: 10vw;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.about ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1000px;
  background-color: red;
}
.about li {
  width: 30%;
  height: 50px;
  background-color: gray;
}
.about li.therd {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about li .circle {
  width: 30px;
  height: 30px;
  background-color: green;
  border-radius: 50%;
}