html {
  font-size: 12.5px;
  scroll-behavior: smooth;
}
@media (min-width: 600px) {
  html {
    font-size: 16px;
  }
}

body {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  color: #3b3f38;
  max-width: 1096px;
  min-width: 320px;
  margin: 0 auto;
}

.wrapper {
  margin: 2rem 2rem 0 2rem;
}

a {
  text-decoration: none;
}
a:link {
  color: #3b3f38;
}
a:visited {
  color: #3b3f38;
}
a:hover {
  color: #5bbe0d;
}

img {
  max-width: 100%;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 117.5%;
}
@media (min-width: 900px) {
  h1 {
    font-size: 4.5rem;
  }
}

h2 {
  font-weight: 900;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

h3 {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  font-weight: 300;
  font-size: 1.126rem;
  line-height: 184%;
  letter-spacing: 2%;
}

section {
  margin-bottom: 6rem;
}

article {
  margin-bottom: 6rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 6rem;
}
header img {
  max-width: 11rem;
}
header ul {
  display: flex;
  justify-content: space-between;
  margin: 2rem 2rem 0 0;
}
header ul:last-child {
  margin-right: 0;
}
@media (min-width: 700px) {
  header {
    flex-direction: row;
  }
  header ul {
    margin: 0;
  }
  header li {
    margin-left: 4rem;
  }
}

.hero {
  background-image: url("../img/hero-background.png");
  background-size: 22rem auto;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  min-height: 27rem;
}
.hero p {
  width: 40%;
}
.hero .title {
  color: #5bbe0d;
  margin-bottom: 2rem;
}
@media (min-width: 900px) {
  .hero {
    margin-bottom: 4rem;
    background-size: 30rem auto;
  }
  .hero p {
    width: 100%;
  }
}

.user-story .scene {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.user-story .scene:last-child {
  margin-bottom: 0;
}
.user-story .scene img {
  max-width: 20.5rem;
  width: 100%;
  height: auto;
}
.user-story .scene .description {
  max-width: 31.5rem;
}
.user-story .scene .description h3 {
  margin-bottom: 2rem;
}
@media (min-width: 900px) {
  .user-story .scene {
    flex-direction: row;
  }
  .user-story .scene:nth-child(2) {
    flex-direction: row-reverse;
  }
}
.user-story span {
  position: relative;
}
.user-story span:before {
  content: " ";
  position: absolute;
  width: 100%;
  background: #5bbe0d;
  height: 0.5rem;
  bottom: -0.25rem;
  z-index: -1;
}

.product .content {
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.product .content .description {
  margin: auto 0;
}

.how-to-use .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.how-to-use .cards h3 {
  font-weight: 300;
}

.secondary-title {
  color: #ffffff;
  background-color: #3b3f38;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}
.secondary-title .title {
  max-width: 1032px;
  margin: 0 auto;
  padding: 2rem;
}
@media (min-width: 1032px) {
  .secondary-title .title {
    padding: 2rem 0;
  }
}

.concept .content {
  display: flex;
  flex-direction: column;
}
.concept .content .catch-copy {
  width: 15rem;
  color: #5bbe0d;
  display: flex;
  gap: 2rem;
  margin: 0 2rem 1.5rem 0;
}
.concept .content .catch-copy .first {
  margin: auto 0;
  font-weight: bold;
  font-size: 3.5rem;
}
.concept .content .catch-copy .second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  font-weight: 900;
  font-size: 1.5rem;
}
@media (min-width: 600px) {
  .concept .content {
    flex-direction: row;
  }
  .concept .content .catch-copy {
    margin-bottom: 0em;
  }
}

.tools .cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto, auto);
  justify-content: space-around;
  gap: 1px;
  background-color: rgba(59, 63, 56, 0.3);
}
.tools .cards .card {
  background-color: #ffffff;
}
.tools .cards .card img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}
@media (min-width: 600px) {
  .tools .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .tools .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.descriptions .paragraph {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 2.5rem;
}

.members .cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto, auto);
  gap: 2.5rem;
}
.members .cards .card {
  display: flex;
  word-break: break-all;
}
.members .cards .card img {
  max-width: 7rem;
  min-width: 5rem;
  margin-right: 2.5rem;
}
@media (min-width: 900px) {
  .members .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.repository {
  text-align: center;
}