
.hero{
    background-image: url("../img/hero-background.png");
    background-size: 22rem auto;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    min-height: 27rem;
    p{width: 40%;}
    .title{
        color: $accent-color;
        margin-bottom: 2rem;
    }
    
    @include lg{
        margin-bottom: 4rem; //Usually 6rem but I put 4rem to appear the below section. 
        background-size: 30rem auto;
        p{width: 100%;}
    }





}
