.how-to-use{

    .cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .card{
            margin-bottom: 2rem;
            // margin-right: 0.74rem;
            // margin-left: 0.74rem;
            // &:last-child{
            //     margin-right: 0;
            // }
        }






        
    }
   

    
}
