.how-to-use{

    .cards{
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // flex-wrap: wrap;
        // gap: 1.5rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1.5rem;
        h3{
            font-weight: 300;
        }
        // img{
        //     width: 100%;
        //     object-fit: cover;
        // }
    }
   

    
}
