
.user-story{
    .scene{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 4rem;
        &:last-child{margin-bottom: 0;}
        @include lg{
            flex-direction: row;
            &:nth-child(2){ //second story is reversed
                flex-direction: row-reverse;
            }
        }

        img{
            max-width: 20.5rem;//416px
            width: 100%;
            height: auto;
        }

        .description{
            margin: auto 0;
            max-width: 31.5rem;//504px
            h3{
                margin-bottom: 2rem;
            }  
        }

    }

    @include underline;
}



